{% extends 'layout.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block header %}
<a class="button icon-right" href="{{ url_for('add_entry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>Welcome {{ current_user.username }}</h1><br>
    <h3 style="text-align:center;">Here are your most recent entries</h3>
{% else %}
    <h1>Welcome to the Learning Journal!</h1><br>
    <h3 style="text-align:center;">Here are the most recent entries</h3>
{% endif %}

<div class="flex">
    <article>
    {# Print journal entries if there are any #}
        {% if entries %}
            {% if current_user.is_authenticated %}

            {% else %}
                {% for entry in entries %}
                        <div class="card">
                            <h2><a href="{{ url_for('details', entry_id=entry.id) }}">{{ entry.title }}</a></h2>
                            <p>
                                <time datetime="%Y-%m-%d">{{ entry.date|format_date }}</time>
                            </p>
                        </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <h2>No journal entries yet!</h2>
        {% endif %} {# if entries #}
    </article>
</div>
{% endblock %}
